<div class="grid navbar navbar-dark bg-dark text-light">  
    <!-- Content here -->
    <div class= "row w-100 align-items-center text-end">
        <div class="col col-md-5 col-sm-12 col-xs-12 text-start m-2">
            <img class= "logo"src="/assets/image/logo/gamezonia.png" alt="Store Logo">
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-12">
            <a src="mailto:carlosgomezsoza@gmail.com"><b>creator:</b> carlosgomezsoza@gmail.com</a>
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-12">
            <div class="d-flex flex-md-reverse" > 
            <a class="nav-link disabled" href="#">Disabled link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link active" href="#">Active link</a>
        </div>

    </div>
</div>
