<nav class="navbar navbar-expand-sm navbar-dark darker-bg sticky-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerPublic"
      aria-controls="navbarTogglerPublic"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerPublic">
      <ul class="navbar-nav text-start ps-4">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/contact']"
            routerLinkActive="router-link-active"
          >
            Contact
          </a>
        </li>
      </ul>
    </div>

    <div
      class="collapse navbar-collapse justify-content-end pe-4 ps-4"
      id="navbarTogglerPublic"
    >
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/admin']"
            routerLinkActive="router-link-active"
            *ngIf="access"
          >
            Admin
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            *ngIf="!access"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            *ngIf="!access"
          >
            Register
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            *ngIf="access"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Current User
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="logout()">Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
